## Getting User Input

In [1]:
number = input("Enter the number you want to print \t")

Enter the number you want to print 	23

## String formatting in Python

In [2]:
print("The number you have entered is {}".format(number))

The number you have entered is 23

In [3]:
print("The number you've entered is %s" %number)

The number you've entered is 23

## String Assignment and String Assignment Solutions

In [4]:
your_name = "Aayush Dip Giri"

In [5]:
print(your_name)

Aayush Dip Giri

In [6]:
print(your_name.upper())

AAYUSH DIP GIRI

## Lists in python

In [7]:
mylist = [1,2,3,4,5,6,7,8]

In [8]:
mylist[1:4]

[2, 3, 4]

In [9]:
mylist[::-1]

[8, 7, 6, 5, 4, 3, 2, 1]

In [10]:
even_list = [x for x in mylist if x%2==0 ]

In [11]:
print(even_list)

[2, 4, 6, 8]

In [12]:
mylist.append(3)

In [13]:
print(mylist)

[1, 2, 3, 4, 5, 6, 7, 8, 3]

In [14]:
mylist.extend([2,3,4,5,5,6])

In [15]:
print(mylist)

[1, 2, 3, 4, 5, 6, 7, 8, 3, 2, 3, 4, 5, 5, 6]

In [16]:
numbers = [10, 30, 40]

numbers.insert(1, 20)

print(numbers)

[10, 20, 30, 40]

In [17]:
del mylist[1:4]

In [18]:
print(mylist)

[1, 5, 6, 7, 8, 3, 2, 3, 4, 5, 5, 6]

In [19]:
mylist.remove(5)

In [20]:
print(mylist)

[1, 6, 7, 8, 3, 2, 3, 4, 5, 5, 6]

In [21]:
mylist.remove(5)
print(mylist)

[1, 6, 7, 8, 3, 2, 3, 4, 5, 6]

## Sets and tuples

In [22]:

my_tuple = ()
print(my_tuple)

my_tuple = (1, 2, 3)
print(my_tuple)

my_tuple = (1, "Hello", 3.4)
print(my_tuple)

my_tuple = ("mouse", [8, 4, 6], (1, 2, 3))
print(my_tuple)

()
(1, 2, 3)
(1, 'Hello', 3.4)
('mouse', [8, 4, 6], (1, 2, 3))

In [23]:
my_tuple[::-1]

((1, 2, 3), [8, 4, 6], 'mouse')

In [24]:
my_tuple.index("mouse")

0

In [25]:
mylist

[1, 6, 7, 8, 3, 2, 3, 4, 5, 6]

In [26]:
set(mylist)

{1, 2, 3, 4, 5, 6, 7, 8}

Here we can see the are no similar element involved in the new set.sets prevents the recursive element on the list

In [27]:
student_id = {112, 114, 116, 118, 115}
print('Student ID:', student_id)

vowel_letters = {'a', 'e', 'i', 'o', 'u'}
print('Vowel Letters:', vowel_letters)

mixed_set = {'Hello', 101, -2, 'Bye'}
print('Set of mixed data types:', mixed_set)

Student ID: {112, 114, 115, 116, 118}
Vowel Letters: {'a', 'u', 'e', 'i', 'o'}
Set of mixed data types: {'Hello', 101, 'Bye', -2}

### To initialize a new set we do

In [28]:
newSet = set()

In [29]:
type(newSet)

set

In [30]:
companies = {'Lacoste', 'Ralph Lauren'}
tech_companies = ['apple', 'google', 'apple']

companies.update(tech_companies)

print(companies)
## here we are updating the pyhton set with the new techcompanies

{'google', 'Lacoste', 'Ralph Lauren', 'apple'}

### Remove an element form the set

In [31]:
## we use discard keyword to remove element from the list

In [32]:
companies.discard('apple')

In [33]:
print(companies)

{'google', 'Lacoste', 'Ralph Lauren'}

In [34]:
enumerate_prime = enumerate(companies)

In [35]:
print(list(enumerate_prime))

[(0, 'google'), (1, 'Lacoste'), (2, 'Ralph Lauren')]

In [36]:
print(max(companies))

google

## Booleans and Operators

In [37]:
x = 5
y = 10
print(x == y)  
print(x < y)

False
True

In [38]:
x = True
y = False
print(x and y)  
print(x or y)   
print(not x)

False
True
False

In [39]:
my_list = [1, 2, 3, 4, 5]
print(3 in my_list)      
print(6 not in my_list)

True
True

In [40]:
## we can also use such booleans in the loop

In [2]:
import sys
count = 0
while True:
    count += 1
    if count < 5:
        print("hello")
    if count == 5:
        exit(0)

hello
hello
hello
hello

KeyboardInterrupt:

### If else statements

In [2]:
# Example program to determine if a number is positive, negative, or zero

number = int(input("Enter a number: "))

Enter a number: 34

In [3]:
if number > 0:
    print("The number is positive.")
elif number < 0:
    print("The number is negative.")
else:
    print("The number is zero.")

The number is positive.

## Loops in python

In [1]:
# 1. For loop
print("For loop:")
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

For loop:
apple
banana
cherry

In [1]:
# 2. While loop
print("\nWhile loop:")
count = 0
while count < 5:
    print(count)
    count += 1

While loop:
0
1
2
3
4

In [2]:
# 3. Nested loops
print("\nNested loops:")
for i in range(1, 4):
    for j in range(1, 4):
        print(i, j)

Nested loops:
1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3