## Dictionaries in Python

In [1]:
country_captials = {
    "Nepal" : "kathmandu",
    "India" : "Delhi",
    "USA" : "DC"
}

In [2]:
country_captials["Nepal"]

'kathmandu'

In [6]:
for key, values in country_captials.items():
    print(key,values)

Nepal kathmandu
India Delhi
USA DC

In [7]:
##We can use the function related to the the set and list

In [10]:
del country_captials["Nepal"]

In [11]:
print(country_captials)

{'India': 'Delhi', 'USA': 'DC'}

In [12]:
##Now we are goinf to study about the nested dictonary

In [14]:

student = {
    "name": "Aayush Dip Giri",
    "age": 20,
    "grades": {
        "math": 85,
        "science": 92,
        "history": 78
    }
}

print("Name:", student["name"])
print("Age:", student["age"])
print("Math Grade:", student["grades"]["math"])
print("Science Grade:", student["grades"]["science"])
print("History Grade:", student["grades"]["history"])

Name: Aayush Dip Giri
Age: 20
Math Grade: 85
Science Grade: 92
History Grade: 78

In [15]:
country_captials = {
    "Nepal" : "kathmandu",
    "India" : "Delhi",
    "USA" : "DC"
}

In [16]:
## we can perform comprehension of dictionary to change the captioal city names to the upper case

In [20]:
Upper_country_captials = { key:values.upper() for key,values in country_captials.items()}

In [22]:
Upper_country_captials

{'Nepal': 'KATHMANDU', 'India': 'DELHI', 'USA': 'DC'}

In [23]:
## Here we can see all the country captials to the uppercase

In [24]:
## If we want to access individual element to represent different value we can do

In [25]:
country_captials["Nepal"] = "Kathmandu ho haii"

In [26]:
print(country_captials)

{'Nepal': 'Kathmandu ho haii', 'India': 'Delhi', 'USA': 'DC'}

## Functions in python

#### Functions with parameter

In [29]:
def square(value):
    return value ** 2
print("The square of 3 is {}".format(square(3)))

The square of 3 is 9

In [31]:
## we can also use lambda function to generate the same value

In [32]:
square = lambda x : x**2

In [33]:
square(2)

4

In [34]:
cube = lambda x : square(x)*x

In [35]:
cube(3)

27

In [36]:
## The below program shows an example of recursive function

In [37]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

num = int(input("Enter a non-negative integer: "))
result = factorial(num)
print(f"The factorial of {num} is {result}.")

Enter a non-negative integer: 33
The factorial of 33 is 8683317618811886495518194401280000000.

In [38]:
## Python local variables

In [39]:
def greet():

    # local variable
    message = 'Hello'
    
    print('Local', message)

greet()

# try to access message variable 
# outside greet() function
print(message)

Local Hello

NameError: name 'message' is not defined

In [40]:
## the name throws error because we tried to generate the value outside its scope

In [44]:
## Python global variables

In [45]:
# declare global variable
message = 'Hello'

def greet():
    # declare local variable
    print('Local', message)

greet()
print('Global', message)

Local Hello
Global Hello

In [46]:
## python non local variables

In [47]:
# outside function 
def outer():
    message = 'local'

    # nested function  
    def inner():

        # declare nonlocal variable
        nonlocal message

        message = 'nonlocal'
        print("inner:", message)

    inner()
    print("outer:", message)

outer()

inner: nonlocal
outer: nonlocal